
body{
    background: rgb(190,216,255);
    background: linear-gradient(8deg, rgba(190,216,255,1) 0%, rgba(182,182,255,1) 41%, rgba(0,212,255,1) 100%);
    padding: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location{
    font-family: 'Nunito', sans-serif;
    font-size: 72px;
   
    align-items: center;
    
    color: aliceblue;
    
}
.icon{
    font-family: 'Nunito', sans-serif;
    font-size: 72px;
    text-align: center;

    color: rgb(15, 47, 75);
    
}
.temperature{
    font-size: 42px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: aliceblue;
}
.degree-section{
    display: flex;
    align-items: center;
}
.temperature-description{
   font-style: normal; 
}
.location-timezone{
    font-size: 20px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
    
}
